html {
    box-sizing: border-box;
}
*,
*::before
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    color:var(--main--text--color) ;
    font-size: 14px;
    letter-spacing: 0.03em;

}
h1, h2, h3 {
    margin: 0px;
}
ul {
    padding-left: 0px;
    margin: 0px;
}
li {
    list-style: none;
}
/* основной цвет #757575;*/
/* вторичный цвет #212121;*/
/* акцент #2196F3;*/
/* белый #FFFFFF */
/* фон героя #2F303A; */
:root {
    --main--text--color: #757575;
    --secondary--text--color: #212121;
    --accent-color:#2196F3;
    --white--color:#FFFFFF;
    --background--color:#2F303A; 
}
.link{
    text-decoration: none;
    color: inherit;
}
.link:focus,
.link:hover {
    color: var(--accent-color);
}
.header {
    padding-top: 28px;
    padding-bottom: 28px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.navigat {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
}
.blue {
    color: var(--accent-color);
}
.logo {
    font-family: Raleway, sans-serif;
    color: var(--secondary--text--color);
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 90px;
}
.text-nav {
    color: var(--secondary--text--color);
    font-weight: 500;
    /* line-height:1; */
    letter-spacing: 0.02em;
}
.nav-indent {
    margin-right: 50px;
}
.nav-indent:last-child {
margin-right: 0px;
}
.inline-block li {
    display: inline-block;
}
.menu {
    display: inline-flex;
}   
.color-here {
    color: var(--accent-color);
}
.address-header {
    font-weight: 500;
    /* line-height:; */
    letter-spacing: 0.02em;
}
.hero {
    background-color: var(--background--color);
}
.hero-text {
    color: var(--white--color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border: none;
}
.hero-but-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--white--color);
}
.ability-heading {
    color: var(--secondary--text--color);
    line-height: 0.875;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.ability-list {
    display: flex;
    flex-wrap: wrap;
}
.ability-item {
    margin-top: 10px;
    margin-left: 10px;
    flex-basis: calc(100% / 4 - 10px);  
}
.ability-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.our-classes, .team {
    color: var(--secondary--text--color);
    font-size: 36px;
    letter-spacing: 0.03em;
}
.team-name {
    color: var(--secondary--text--color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.team-text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.footer {
    background-color: var(--background--color);
    font-style: normal;
}
.footer-logo {
    font-family: Raleway;
    color: var(--white--color);
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer-address{
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.map {
    color: var(--white--color);
}
.footer-link {
    color: rgba(255, 255, 255, 0.6);
}